html {
  font-size: 14px;
}

@property --progress-value {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

:root {
    --progress-bar-color: #cfd8dc;
    --progress-value-color: #2196f3;
    --progress-empty-color-h: 4.1;
    --progress-empty-color-s: 89.6;
    --progress-empty-color-l: 58.4;
    --progress-filled-color-h: 122.4;
    --progress-filled-color-s: 39.4;
    --progress-filled-color-l: 49.2;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* css latihan */
/*.baris1 {
    height: 50vh;
}

.column1 {
    background-color: beige;
    color: yellowgreen;
}

.baris2{
    background-color: lightblue;
    color: steelblue;
    height: 50%;
}

.baris3 {
background-color: darkseagreen;
    color: green;
    height: 50%;
}

div.d-flex {
    justify-content: space-between;
    margin-top: 1em;
}
*/


.header-color {
    background-color: lightgray;
}

.badge-width {
    width: 15%;
    margin: 10px;
}

.col-img-badge {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    margin : 1rem;
    border-radius: 20px;
    padding: 1rem;
    background-color: lightsteelblue;
}

#rowBadge {
    justify-content: center;
}

.row-name {
justify-content: center;
text-align:center;
}

.name-pokemon {
    background-color: honeydew;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
}

.col-desc {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    width: 50%;
}

progress[value] {
    display: block;
    position: relative;
    appearance: none;
    width: 80%;
    height: 6px;
    border: 0;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    counter-reset: progress var(--progress-value);
    --progress-value-string: counter(progress);
    --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
    --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));

    @supports selector(::-moz-progress-bar) {
        --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
    }

    --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
    --progress-value-color: hsl( calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg) calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%) calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%) );
    animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}

    progress[value]::-webkit-progress-bar {
        background-color: var(--progress-bar-color);
        border-radius: var(--border-radius);
        overflow: hidden;
    }

    progress[value]::-webkit-progress-value {
        width: var(--progress-value-percent) !important;
        background-color: var(--progress-value-color);
        border-radius: var(--border-radius);
    }

    progress[value]::-moz-progress-bar {
        width: var(--progress-value-percent) !important;
        background-color: var(--progress-value-color);
        border-radius: var(--border-radius);
    }

    progress[value]::after {
        display: flex;
        align-items: center;
        justify-content: center;
        --size: 32px;
        width: var(--size);
        height: var(--size);
        position: absolute;
        left: var(--progress-value-percent);
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--progress-value-color);
        border-radius: 50%;
        content: attr(value);
        content: var(--progress-value-string, var(--value));
        font-size: 12px;
        font-weight: 700;
        color: #fff;
    }

@keyframes progress {
    from {
        --progress-value: 0;
    }

    to {
        --progress-value: var(--value);
    }
}

.desc-card {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    width: 96%;
    background-color: lightyellow;
}

.desc-title {
    color: darkolivegreen;
}

#table1_wrapper {
    width: 100%!important;
    overflow-x: auto;
}

#tableEmployee_wrapper {
    width : 100%!important;
    overflow-x: auto;
}
.form-label.gender {
    width: 100%;
    margin: 0;
}